<h1>Subtraction</h1>

<dl>
  <dt>Subtract this</dt>
  <dd><%= @first_number %></dd>

  <dt>From this</dt>
  <dd><%= @second_number %></dd>

  <dt>Result</dt>
  <dd><%= @result %></dd>
</dl>


<a href="/add">Do another subtraction</a>
